@model ActiviteitVM
@{
    ViewData["Title"] = "Index";
}

<h1>Add activity</h1>
<form asp-controller="Activity" asp-action="Create" method="post">

    <div>
        <label for="Name">Name</label>
        <input asp-for=Name class="form-control" />
    </div>

    <div>
        <label for="Type">Type</label>
        <input asp-for=Type class="form-control" />
    </div>

    <div>
        <label for="Description">Description</label>
        <input asp-for=Description class="form-control" />
    </div>

    <div>
        <label for="Date">Date</label>
        <div class='input-group'
             id='datetimepicker1'
             data-td-target-input='nearest'
             data-td-target-toggle='nearest'>
            <input id='datetimepicker1Input'
                   asp-for=Date
                   type='text'
                   class='form-control'
                   data-td-target='#datetimepicker1'
                   value=@DateTime.Now />
            <span class='input-group-text'
                  data-td-target='#datetimepicker1'
                  data-td-toggle='datetimepicker'>
                <span class='fa-solid fa-calendar'></span>
            </span>
        </div>
    </div>
    <br />
    <input type="submit" value="Add event" class="btn btn-primary" />
</form>
