@model ActiviteitVM
@{
    ViewData["Title"] = "Index";
}
      
<form asp-controller="Edit" asp-action=Return method="post">
    <h1>Index</h1>
    <div>
        <input asp-for=ID type="hidden" />
    </div>
    <div>
        <label for="Name">Name</label>
        <input asp-for=Name value= "@Model.Name" class="form-control" />
    </div>

    <div>
        <label for="Type">Type</label>
        <input asp-for=Type value="@Model.Type" class="form-control" />
    </div>

    <div>
        <label for="Description">Description</label>
        <input asp-for=Description value="@Model.Description" class="form-control" />
    </div>

    <div>
        <label for="Date">Date</label>
         <div class="col-3">
        <input asp-for=Date Type="text" class="form-control" placeholder="@Model.Date" id="dateinput">
    </div>
        
    </div>
    <input type="submit" value="Confirm" class="btn btn-primary" />
</form>

