@model ActiviteitVM
@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Edit" asp-action=Return method="post">
    <h1>Index</h1>
    <div>
        <input asp-for=ID type="hidden" />
    </div>
    <div>
        <label for="Name">Name</label>
        <input asp-for=Name value="@Model.Name" class="form-control" />
    </div>

    <div>
        <label for="Type">Type</label>
        <input asp-for=Type value="@Model.Type" class="form-control" />
    </div>

    <div>
        <label for="Description">Description</label>
        <input asp-for=Description value="@Model.Description" class="form-control" />
    </div>

    <div>
        <label for="Date">Date</label>
        <div class='input-group'
             id='datetimepicker1'
             data-td-target-input='nearest'
             data-td-target-toggle='nearest'>
            <input id='datetimepicker1Input'
                   asp-for=Date
                   type='text'
                   class='form-control'
                   data-td-target='#datetimepicker1'
                   value=@DateTime.Now />
            <span class='input-group-text'
                  data-td-target='#datetimepicker1'
                  data-td-toggle='datetimepicker'>
                <span class='fa-solid fa-calendar'></span>
            </span>
        </div>
    </div>

    </div>
    <input type="submit" value="Confirm" class="btn btn-primary" />
</form>

